
<div>
  <div class="page-header" fxLayoutAlign="center center">
      <header fxLayoutAlign="center center" fxLayout="column">
        <h1 class="mat-h1">News Aggregator</h1>
        <h4 class="mat-h4">Latest Google Headlines</h4>
      </header>
  </div>
  <div>
      <cdk-virtual-scroll-viewport 
        itemSize="100" 
        fxFlex="1 1 auto" 
        fxLayout="column" 
        fxLayoutAlign="center center">
      <li *cdkVirtualFor="let item of news;" class="animated slideInRight">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <img [src]="item.urlToImage" [width]="100" [height]="100">
          <div fxLayout="column">
            <h2 class="mat-h2">{{item.title}}</h2>
            <h4 class="mat-h4">{{item.description}}. <a [href]="item.url">Read more..</a></h4>
          </div>
        </div>
      </li>
      </cdk-virtual-scroll-viewport>
  </div>
</div>
